$button-height: 30px;

.button {
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  height: $button-height;
  font-weight: 600;
  font-size: 12px;
  line-height: $button-height;
  color: #444;
  background: #F6F6F6;
  padding: 0 16px;
  border-radius: 3px;
  border: 1px solid $color-border-light;
  outline: none;
  margin: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    border: 1px solid darken($color-border-light, 10%);
  }

  /*&:focus {
    border-color: $color-highlight;
  }*/

  &--primary {
    color: #FFF;
    background: linear-gradient(to top, darken($color-highlight, 5%), $color-highlight);
    border: 1px solid darken($color-highlight, 10%);

    &:not(:disabled):hover {
      background: linear-gradient(to top, darken($color-highlight, 10%), $color-highlight);
      border: 1px solid darken($color-highlight, 17%);
    }
  }

  &--secondary {
    color: $color-text-medium;
    background: none;
    border: 1px solid #CCC;
  }

  &--danger {
    color: #FFF;
    background: linear-gradient(to top, $color-error, lighten($color-error, 5%));
    border: 1px solid darken($color-error, 10%);

    &:not(:disabled):hover {
      background: linear-gradient(to top, darken($color-error, 5%), lighten($color-error, 5%));
      border: 1px solid darken($color-error, 17%);
    }
  }

  &--tiny {
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
  }

  &--full-width {
    width: 100%;
  }

  &:disabled {
    opacity: 0.6;
  }

  &__icon {
    float: left;
    font-size: 14px;
    line-height: inherit;
    margin: 0 6px 0 0;

    &--tiny {
      font-size: 11px;
    }
  }
}
