.filter-controls {

  $item-spacing: 10px;

  margin: 0;

  &__head {
    background: rgba(#EEE, 0.5);
    padding: $spacing-standard 0;
    border-bottom: 1px solid rgba($color-border-light, 0.5);
    @extend %clearfix;
  }

  &__listing {
    padding: $spacing-standard 0;
    margin: -5px;
    @extend %clearfix;
  }

  &__item {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    width: calc(100% - 10px);
    margin: 5px;

    @for $i from 1 to 12 {
      &--#{$i}-12 {
        width: calc(#{$i * (100% / 12)} - #{$item-spacing});
      }
    }
    &--1-2 {
      width: calc(50% - 10px);
    }

    &--1-3 {
      width: calc(33.33% - 10px);
    }

    &--1-4 {
      width: calc(25% - 10px);
    }

    &:last-child {
      padding-right: 0;
    }

    & > input {
      margin-top: 0;
    }
  }

  &__label {
    @extend %label-appearance;
    line-height: 30px;
    margin: 0;
  }

  &__input-holder {
    flex: 1;
    padding-left: 10px;
    & > input {
      @extend %text-input-appearance;
      margin: 0;
    }
  }

  // react-datepicker overrides
  .react-datepicker__input-container {
    display: block;
    width: 100%;

    & > input {
      margin: 0;
    }
  }

  // react-select overrides
  .Select {
    margin: 0;
  }

  /*.Select-control {
    height: 30px;
    border-radius: 3px;
    border-color: $color-border-light;

    &:hover {
      box-shadow: none;
    }
  }

  .is-focused:not(.is-open) > .Select-control {
    border-color: $color-border-light;
    box-shadow: none;
  }

  .is-open > .Select-control {
    border-color: $color-border-light;
  }

  .Select-arrow-zone {
    bottom: -2px;
  }

  .Select-input {
    height: 28px;
  }

  .Select--single > .Select-control .Select-value {
    font-size: 13px;
    line-height: 28px;
    color: #333;
  }

  .Select--single > .Select-control .Select-value-label {
    font-family: 'Open Sans', sans-serif;
  }*/
}
