$loading-indicator-size: 50px;

.loading-indicator {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.loading-indicator__icon {
  position: absolute;
  top: calc(50% - #{$loading-indicator-size / 2}); left: calc(50% - #{$loading-indicator-size / 2});
  width: $loading-indicator-size;
  height: $loading-indicator-size;
  path {
    fill: $color-highlight;
  }
}
