@keyframes placeholder-shimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.loading-placeholder {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder-shimmer;
  animation-timing-function: linear;
  background: #F6F7F8;
  background: linear-gradient(to right, #EEE 8%, #DDD 18%, #EEE 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}