.pagination {

  @extend %clearfix;

  $button-size: 30px;
  $border: 1px solid #CCC;

  &__button {
    float: left;
    width: $button-size;
    height: $button-size;
    font-weight: 400;
    font-size: 14px;
    line-height: $button-size;
    color: $color-text-medium;
    background: #FFF;
    padding: 0;
    border: $border;
    border-left: none;
    outline: none;
    cursor: pointer;

    &:first-child {
      border-radius: 3px 0 0 3px;
      border-top: $border;
      border-bottom: $border;
      border-left: $border;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
      border-top: $border;
      border-bottom: $border;
    }

    &:hover {
      color: $color-text-dark;
      background: #FEFEFE;
    }

    &--active {
      color: $color-text-dark;
      background: #EEE;
      &:hover {
        background: #EEE;
      }
    }

    &--placeholder {
      cursor: default;
      &:hover {
        color: $color-text-medium;
        background: #FFF;
      }
    }
  }
}
