.table {

  $head-cell-height: 30px;
  $cell-content-height: 20px;

  display: table;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #CCC;

  &__head {
    display: table-header-group;
  }

  &__body {
    display: table-row-group;
  }

  &__row {
    display: table-row;
  }

  &__head-cell,
  &__cell {
    display: table-cell;
    padding: 0 $spacing-standard;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-right: none;
    }

    &--centered {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--small {
      width: 150px;
    }
  }

  &__row:last-child &__cell {
    border-bottom: none;
  }

  &__head-cell {
    position: relative;
    height: $head-cell-height;
    font-weight: 600;
    font-size: 13px;
    line-height: $head-cell-height;
    background: #EEE;

    &--sortable {
      cursor: pointer;

      &::after {
        content: '\f0dc';
        position: absolute;
        top: calc(50% - 8px); right: 2px;
        width: 16px;
        height: 16px;
        font-family: 'FontAwesome';
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
      }
    }

    &--sort-ascend {

      &::after {
        content: '\f0de';
        color: rgba(0, 0, 0, 0.7);
      }
    }
    &--sort-descend {

      &::after {
        content: '\f0dd';
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &__row:first-child &__head-cell:first-child {
    border-radius: 3px 0 0 0;
  }

  &__row:first-child &__head-cell:last-child {
    border-radius: 0 3px 0 0;
  }

  &__row:last-child &__head-cell--body {
    border-bottom: none;
  }

  &__cell {
    max-width: 0;
    height: $cell-content-height;
    font-weight: 400;
    font-size: 13px;
    line-height: $cell-content-height;
    padding-top: 6px;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*&__row:nth-child(even) &__cell {
    background: #FEFEFE;
  }*/

  &__content-placeholder {
    height: $cell-content-height;
  }
}
