.sentiment {

  &__chart {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .bar.positive{
    fill: steelblue;
  }

  .bar.negative{
    fill: darkred;
  }
  .axis--x path {
    display: none;
  }
}
