.sentiment-year {

  &__chart {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__chart {

    svg {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: rgba(0, 0, 0, 0.1);
      shape-rendering: crispEdges;
    }

    .axisLine {
      fill: none;
      shape-rendering: crispEdges;
      stroke: rgba(0, 0, 0, 0.5);
      stroke-width: 2px;
    }

    .dot {
      fill-opacity: .5;
    }

    .axis .label{
      fill: black;
    }

    .zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
    }

    .view{
      fill: transparent;
    }

  }

  &__tooltip {
    font-size: 11px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.8);
    padding: 12px;
    border-radius: 2px;
    pointer-events: none;

    &::after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }

    &.n::after {
      content: '\25BC';
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }
  }

  &__tooltip-title {
    font-size: 14px;
  }

  &__tooltip-sentiment {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-top: 4px;
  }
}
