$color-highlight: #4b8CF8;

$color-text-dark: #333844;
$color-text-medium: #63697D;
$color-text-light: #CCC;

$color-border-light: #F0F0F2;

$color-app-bg: #EFEFEF;

$gutter-standard: 20px;

$spacing-standard: 10px;
