@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import './partials/variables';
@import './partials/mixins';
@import './partials/classes';

html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.001);
  background: $color-app-bg;
}

html,
body {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 0 $gutter-standard;
  margin: 0 auto;
  @extend %clearfix;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

@import './transitions/fade-in-out.scss';
@import './transitions/fade-in-out-swap.scss';
@import './transitions/slide-down-fade-out.scss';

@import './components/loading-indicator';
@import './components/loading-placeholder';
@import './components/form';
@import './components/button';
@import './components/button-list';
@import './components/notification';
@import './components/modal';
@import './components/table';
@import './components/filter-controls';
@import './components/table-controls';
@import './components/repeater';
@import './components/labels-list';

@import './routes/app';
@import './routes/login';
@import './routes/dashboard';
@import './routes/section';

@import './reports/view-report.scss';
@import './reports/scorecard.scss';
@import './reports/word-cloud';
@import './reports/sentiment';
@import './reports/top-ten.scss';
@import './reports/pos.scss';
@import './reports/sentiment-year.scss';
@import './reports/cluster';
@import './reports/classify';
@import './reports/distinct-words';
@import './reports/unique-words';
