.section {

  $header-height: 70px;
  $navigation-header-height: 30px;

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #FFF;
  overflow: hidden;
  overflow-y: auto;

  &__header {
    height: $header-height;
    line-height: $header-height;
    border-bottom: 1px solid $color-border-light;
    overflow: hidden;
  }

  &__heading {
    float: left;
    font-weight: 400;
    font-size: 24px;
    color: $color-text-dark;
    margin: 0;
  }

  &__header-buttons {
    float: right;
    > .button {
      float: left;
      margin-top: ($header-height - $button-height) / 2;
      margin-left: $spacing-standard;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__filter-header {
    border-bottom: 1px solid $color-border-light;
  }

  &__navigation-header {
    height: $navigation-header-height;
    margin: $spacing-standard 0;
    overflow: hidden;
    @extend %clearfix;
  }

  &__body {
    margin: $spacing-standard 0 150px 0;
  }
}
