.section {

  $header-height: 70px;
  $navigation-header-height: 30px;

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #FFF;
  overflow: hidden;
  overflow-y: auto;

  &__header {
    height: $header-height;
    line-height: $header-height;
    border-bottom: 1px solid $color-border-light;
    overflow: hidden;
  }

  &__heading {
    float: left;
    font-weight: 400;
    font-size: 24px;
    color: $color-text-dark;
    margin: 0;
  }

  &__header-buttons {
    float: right;
    > .button {
      float: left;
      margin-top: ($header-height - $button-height) / 2;
      margin-left: $spacing-standard;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__filter-header {
    padding: $spacing-standard 0;
    margin: $spacing-standard 0;
    border-bottom: 1px solid $color-border-light;
    overflow: hidden;
    @extend %clearfix;
  }

  &__filter-holder {
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    @extend %clearfix;

    &--1-4 {
      width: 25%;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__filter-label {
    @extend %label-appearance;
    float: left;
    display: block;
    line-height: 30px;
    margin: 0;
  }

  &__filter-input-holder {
    display: block;
    padding-left: 10px;
    overflow: hidden;
    input {
      @extend %text-input-appearance;
      margin: 0;
    }
  }

  &__navigation-header {
    height: $navigation-header-height;
    margin: $spacing-standard 0;
    overflow: hidden;
    @extend %clearfix;
  }

  &__body {
    padding: 0 0 30px 0;
    margin: $spacing-standard 0;
  }
}
